DATABASE_URL=postgresql://postgres:postgres@postgres:5432/sensolidaire
JWT_SECRET=changez_moi
JWT_REFRESH_SECRET=changez_moi_aussi
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
ADMIN_PASSWORD=changez_moi